<div class="container">
    <div class="col-lg-12 col-sm-12">
        <h1>Add a new transaction</h1>

        <form role="form" action="#" method="post" enctype="plain">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="Name" class="form-control" id="name" placeholder="Transaction Name">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" name="amount" class="form-control" id="amount" placeholder="Amount">
            </div>
            <div class="form-group">
                <label>Category</label>
                <select>
                    <option>Please choose a category..</option>
                    <option>Test1</option>
                    <option>Test2</option>
                    <option>Test3</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-large btn-info">SUBMIT</button>
        </form>
    </div>
</div>